# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/5.7/en/server-configuration-defaults.html

[mysqld]
#
# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
# innodb_buffer_pool_size = 128M
#
# Remove leading # to turn on a very important data integrity option: logging
# changes to the binary log between backups.
# log_bin
#
# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.
# join_buffer_size = 128M
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M
skip-host-cache
skip-name-resolve
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
secure-file-priv=/var/lib/mysql-files
user=mysql

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

log-bin=mysql-bin

# group replication pre-requisites & recommendations
binlog-format = ROW
# group replication pre-requisites & recommendations
binlog-format = ROW
gtid-mode = ON
enforce-gtid-consistency = ON
log-slave-updates = ON
master-info-repository = TABLE
relay-log-info-repository = TABLE
binlog-checksum = NONE
slave-preserve-commit-order = ON
# prevent use of non-transactional storage engines
disabled_storage_engines="MyISAM,BLACKHOLE,FEDERATED,ARCHIVE"
# InnoDB gap locks are problematic for multi-primary conflict detection; none are used with READ-COMMITTED
# So if you don't rely on REPEATABLE-READ semantics and/or wish to use multi-primary mode then this
# isolation level is recommended
transaction-isolation = 'READ-COMMITTED'

# group replication specific options
transaction-write-set-extraction = XXHASH64
# disable the IP whitelisting, as we won't know what the IP range will be
loose-group-replication-ip-whitelist='0.0.0.0/0'


# dynamic options to be driven by command-line parameters
#****************************************************************************
# server-id = ??? # must be unique within replication topologies
# group_replication_group_name = ??? # must be valid UUID
# group_replication_bootstrap_group = ??? # must be ON for the first node in the group
# group_replication_local_address = ??? # needs to be an IP address / hostname which the other GR containers can reach
# group_replication_group_seeds = ??? # is necessary for the non-bootstrap nodes
#****************************************************************************
